.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 90px;
}

.App-header {
  background-color: #222;
  height: 50px;
  color: white;
}

.App-title {
  padding: 0px;
  padding-top: 12px;
  margin: 0px;
  font-size: 1.5em;
}

.App-title-icon {
  margin-right: 5px;
}

.wrapper {
  flex: 1 0 auto;
}

.menu {
  background-color: #222;
  height: 50px;
  color: white;
  display: flex;
  align-items: stretch;
}

.menu .button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 33%;
}

.menu .button__inactive:hover {
  background-color: tomato;
  cursor: pointer;
}

.menu .button__active {
  background-color: steelblue;
}

footer {
  flex-shrink: 0;
}